.homeFlexContainer {
    width: 70%;
    margin-left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.background {
  position: relative;
  height: calc(100vh - 80px);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background: url("https://media.istockphoto.com/id/941719638/vector/abstract-stripe-wave-lines-graphic-blue-and-white-gradient-color-background.jpg?s=612x612&w=0&k=20&c=oZXoY6qZqMnvSEXN7haosiTkdyJ1ay6gQF-h-pMkkA8=");
}
.homeFlexItemLeft {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
}

.exploreOurPrograms {
  background-color: orange;
  color: black;
  border-radius: 9px;
  height: 40px;
  width: 300px;
}

.Headings {
  text-align: start;
  margin: 2px;
  padding: 5px;
}

.heading-one {
  color: white;
  font-size: 2em;
}

.heading-two {
  color: orange;
  font-size: 2em;
}

.heading-three {
  color: white;
}
#ladyLogo {
  /* transform: translateY(20px); */
  animation-name: ladyLogoanimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes ladyLogoanimation {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.thirdContiner {
  padding-top: 1.52vw;
  border-radius: 15px;
  width: 70%;
  margin-left: 15%;
  background : linear-gradient(to right, rgb(50, 29, 114),rgb(163, 138, 240) , rgb(50, 29, 114) );
  box-shadow: 0px 5px 5px black;
}

.headingThirdcomntainer {
  text-align: center;
}

.thirdContainerOptions {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
}

.innerContainers {
  color: white;
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inspireHeading {
  font-size: 2.34em;
  text-align: center;
}

.HereMoreAboutUs {
  width: 30%;
  height: 40px;
  margin-left: 35%;
  background-color: orange;
  color: black;
  border-radius: 5px;
  text-align: center;
}

.HereMoreAboutUs:hover {
  width: 32%;
  height: 40px;
  margin-left: 35%;
  background-color: rgb(230, 159, 27);
  color: rgb(61, 56, 56);
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgb(16, 11, 11);
  font-size: 1.26em;
}


.whyJoinUsContainer{
background: linear-gradient(to right, pink,rgb(53, 86, 100) , rgb(100, 100, 222), rgb(211, 176, 181));
}

.whyJoinUsContainerflexcontainer{
    width: 70%;
    margin-left: 15%;

}

#whyJoinUsButton{
    height: 60px;
    width: 190px;
    color: white;
    background-color: black;
    border-radius: 25px;
    font-size: 1.234rem;
}

.whyJoinUsContainerflexcontainer{
    display: flex;
    flex-direction: row;
}
.whyJoinUsContainerflexcontainer div h2 {
    font-size: 2em;
}

.whyJoinUsContainerflexcontainer div p{
    font-size: 1.52em;
}
.firstContainer{
    width: 50%;
}

.workinginFaang{
    margin : 30px;
    width: 150px;
    height: 110px;
    background-color: rgb(116, 193, 234);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;
}

.firstHexanosConatiner{
    display: flex;
    justify-content: space-between;
}

.paddingDIV{
  padding: 30px
}
.startUps{
  margin : 30px;
  width: 150px;
  height: 110px;
  background-color: rgb(116, 193, 234);
  border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* background-image:  url("https://files.codingninjas.in/hex-9602.svg"); */
    background-repeat: repeat-y;
    justify-content: center;
    align-items: center;
}

.postedHeading{
    font-style: normal;
    /* font-weight: 800; */
    text-align: center;
    font-size: 1.34em;
}

.companiesLogoContainer{
    width: 70%;
    margin-left: 15%;
}

.companyfirstRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.companysecondRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}




.DownloadPlacemnt {
  width: 30%;
  height: 40px;
  margin-left: 35%;
  background-color: rgb(205, 186, 150);
  color: rgb(132, 52, 9);
  border-radius: 5px;
  font-size: larger;
  text-align: center;
}

.DownloadPlacemnt:hover{
    width: 30%;
    height: 40px;
    margin-left: 35%;
    background-color: rgb(205, 186, 150);
    color: rgb(132, 52, 9);
    border-radius: 5px;
    font-size: larger;
    text-align: center;
    box-shadow: 5px -5px 4px black, -5px -5px 4px black;
}


.rating{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    width: 80%;
    display: flex;
}

.firstCardRating{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    width: 28%;
    background-color: rgb(29, 29, 84);
}


.color{
    color: whitesmoke;
} 
.fontszie{
    font-size: 2em;
}

.fontStyle{
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logosTagfooter{
    background-color:rgb(21, 18, 84) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CodingNinjasHeading, .products , .community, .socialMediaLogosContainer{   
    color : white;
    display: flex;
    flex-direction: column;
}

.CodingNinjasHeading h4 , .CodingNinjasHeading p, .products h4, .products p, .community h4 , .community p{
    padding:5px;
    margin: 1px;
}


.logoCoding{
    width: 200px;
    height: 130px;
    border-radius: 13px;
   
}

.logoCodingContainer{
    color: white;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.socialMediaLogos{
    display: flex;
    flex-direction: row;
}

.conatcts, .eamil{
    display: flex;
    justify-content: space-evenly;
}

.conatcts:hover,
.eamil:hover ,
.CodingNinjasHeading:hover ,  .products:hover ,  .community:hover,.socialMediaLogosContainer:hover 
 {
    color: rgb(192, 114, 26);
    text-decoration: underline;
}

.ImportantLinksCotanier{
    width: 70%;
    margin-left: 15%;
}

a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(30, 27, 23);
}


.Links{
    font-size: 1.12em;
}

a:hover {
    
color: rgb(224, 19, 19);
}

.payment_logo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 5% ;
}


.upcomingEvents{
  text-align: center;
}


.vediosContainer{  
  
  display: flex;
  width: 80%;
  margin-left: 10%;
  justify-content: space-between;
}

.vedioTag{
  margin: 0 40px;
  width: 50%;
}


.Queries{
  background-color: bisque;
  display: flex;
  justify-content: space-evenly;
}

.input-szie{
  width: 200px;
  height: 37px;
}

.input-szie:hover{
  border: 2px solid rgb(88, 60, 7);

}


.fomrDiv{
  border-radius: 22px;
  background-color: white;
}


.fomrContainer{
  margin: 10px;
  padding: 20px;
  
}

.Request_callback{
  width: 200px;
  height: 37px;
  background-color: orange;
  border-radius: 12px;
}


.contactSupport{
  justify-content: space-between;
  display: flex;

}

.fadedImage{
  width: 70%;
  margin-left: 15%;
}


.dynamicRoutingHomePage{
  background-color: antiquewhite;
  width: 70%;
  margin-left: 15%;
}


.text-align{
  text-align: center;
}